<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @movie.subject %>
</p>

<p>
  <strong>School-type:</strong>
  <%= @movie.school-type %>
</p>

<p>
  <strong>School:</strong>
  <%= @movie.school %>
</p>

<p>
  <strong>School-grade:</strong>
  <%= @movie.school-grade %>
</p>

<p>
  <strong>Content:</strong>
  <%= @movie.content %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
