<% provide(:title, "TOP") %>
<head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://skyway.io/dist/v2/0.3/peer.js"></script>
  <script type="text/javascript" src="assets/videochat.js"></script>
</head>
<script >
  function del()
  {

    document.getElementById("disp").style.display="none";
    var num =2;


  }
</script>
<div class="container">
  <div class="row">
    <div class="col-xs-7 content">
      <div id="disp" >
        <img src="assets/go.jpg" width="640" height="360" />
      </div>
      <div>
       <span onClick="del()">
        <video id="my-video" autoplay></video>
        <video id="peer-video" style="width: 600px;"  autoplay></video>
        </span>
      </div>
    </div>
    <div class="col-xs-5 RadarChart">
      <canvas id="radar-chart" width="300" height="300"></canvas>
    </div>
    <a class="btn btn-primary btn-lg active button" data-remodal-target="modal">Primary button</a>
  </div>
</div>
<div class="remodal" data-remodal-id="modal" >
  <button data-remodal-action="close" class="remodal-close"></button>
  <iframe height="450" width="700" src="../evaluations/new"></iframe></div>
<div class="container">
  <br>
  <h2>Comments</h2>
  <div class="row">
    <div class="col-xs-12 commentList">
      <ul class="list-group">
        <% @comments.each do |comment| %>
          <li class="list-group-item"><%= comment.content %></li>
        <% end %>
      </ul>
    </div>

  </div>
</div>

<div class="container">
<%= render 'form' %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script>
  var radarChartData = {
    labels: ["わかりやすさ", "工夫", "声", "気づかい", "速さ"],
    datasets: [
      {
        label: "私",
        fillColor : /*"#f2dae8"*/"rgba(242,218,232,0.6)",
        strokeColor : /*"#dd9cb4"*/"rgba(221,156,180,0.6)",
        pointColor : /*"#dd9cb4"*/"rgba(221,156,180,0.6)",
        pointStrokeColor : "#fff",
        pointHighlightFill : "#fff",
        pointHighlightStroke : /*"#dd9cb4"*/"rgba(221,156,180,0.6)",
        data : [<%= @ev_perspicuity %>,<%= @ev_device %>,<%= @ev_voice %>,<%= @ev_concern %>,<%= @ev_speed %>]
      },
    ],
  };
  var options = {
    scaleOverride: true,
    scaleSteps: 5,
    scaleStepWidth: 1,
    scaleStartValue: 0
  }

  window.onload = function(){
    window.myRadar = new Chart(document.getElementById("radar-chart").getContext("2d")).Radar(
        radarChartData,
        options
    );
  }
</script>
